.list-item {
  display: flex;
  font-size: 1rem;
  align-items: center;
  height: 1rem;
  padding: 0.5rem;
}

p {
    margin-right: 2rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
